@font-face {
    font-family: 'A-OTF Shin Go Pro DB';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AOTFShinGoProDeBold.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro L';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AOTFShinGoProLight.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro R';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AOTFShinGoProRegular.woff') format('woff');
}

@font-face {
    font-family: 'A-OTF Shin Go Pro M';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AOTFShinGoProMedium.woff') format('woff');
}

#container {
    margin: 0 auto;
    margin-top: -21px;
    width: 800px;
    background-color: #fcfcfc;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

h1, h2 {
    font-family: 'A-OTF Shin Go Pro DB';
    margin-bottom: -20px;
}

body:not(h1) {
    font-family: 'A-OTF Shin Go Pro R';
}

.header {
    font-family: 'A-OTF Shin Go Pro DB';
    font-size: 24px;
}
